<tr 
  class="category-row"
  data-categoryid="{{id}}">

  {{#if forOrganiser}}
    <th scope="row">{{id}}</th>
  {{/if}}
  
  <td>{{name}}</td>
  
  {{#if forOrganiser}}
    <td>{{format_date start}}</td>
    <td>{{format_time start}}</td>
    <td>{{format_date end}}</td>
    <td>{{format_time end}}</td>
    <td class="text-end">
      <button 
        class=" btn btn-sm btn-light" 
        type="button">
        <i class="far fa-edit"></i>
      </button>
    </td>
  {{/if}}

  <td class="text-end">
    {{#if forOrganiser}}
      <button 
        class=" btn btn-sm btn-light" 
        type="button">
        <i class="far fa-trash-alt"></i>
      </button>
    {{else}}
      {{#> button type="button"}} 
        Join
      {{/button}}
    {{/if}}

  </td>
</tr>