<tr 
  class="hover-cursor"
  data-event-id="{{id}}">

  <th scope="row">{{id}}</th>
  <td>{{name}}</td>
  <td>{{location}}</td>
  <td>
    <span class="badge bg-success">{{status}}</span>
  </td>
  <td>
    {{#if canDelete }} 
      <button 
        class=" btn btn-lg btn-primary" 
        type="button">
        Cancel
      </button>
    {{/if }}
  </td>
</tr>