<tr 
  class="event-row"
  data-eventid="{{id}}">

  <th scope="row">{{id}}</th>
  <td>{{name}}</td>
  <td>{{location}}</td>
  
  {{#if status}}
    <td>
      <span class="badge bg-success">{{status}}</span>
    </td>
  {{/if}}
  
  <td>
    <div class="text-end">
      {{#if canDelete }} 
        {{#> button class="btn-sm" type="button"}}
          Cancel
        {{/button}}
      {{/if }}
      {{#if canWithdraw }} 
        {{#> button class="btn-sm" type="button"}}
          Withdraw
        {{/button}}
      {{/if }}
      {{#if canJoin}} 
        {{#> button class="btn-sm" type="button"}}
          Join
        {{/button}}
      {{/if }}
    </div>
  </td>
</tr>