<div class="row mb-3">
  <label 
    for="{{idName}}" 
    class="col-form-label {{classLabel}}">
    {{label}}
  </label>
  <div class="{{classInput}}">
    <input 
      type="{{type}}" 
      class="form-control" 
      id="{{idName}}" 
      placeholder="{{placeholder}}" 
      value="{{value}}"
      name="{{name}}">
  </div>
</div>

