<tr 
  class="score-row"
  data-scoreid="{{id}}">

  <td>{{name}}</td>
  <td>{{top}}</td>
  <td>{{bonus}}</td>
  <td>{{attemptTop}}</td>
  <td>{{attemptBonus}}</td>
  <td>{{attempts}}</td>
  <td class="text-end">
    {{#> button type="button" }}
      +
    {{/button}}
  </td>
</tr>